<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
     <input style="color:black;" type="text" [(ngModel)]="theName" placeholder="Type your name">
     <input style="color:black;" type="text" [(ngModel)]="theEmail" placeholder="Type your email">
     <input style="color:black;" type="pasword" [(ngModel)]="thePassword" placeholder="Type your password">
    <button type="submit" (click)="sendPostRequest()">Register</button>
    <ion-button (click)="getData()">My Data</ion-button>
  </div>

   
 <div class="ion-padding">
  <input style="color:black;" type="text" [(ngModel)]="theEmailLogin" placeholder="EMAIL">
  <input style="color:black;" type="text" [(ngModel)]="thePasswordLogin" placeholder="PASS">
 <button type="submit" (click)="sendPostRequestLogin()">LOGIN</button>

 </div>

</ion-content>
